extends layout

block content
  div#userid.hidden #{userid}
  div#main
    h1 Canned
    div#controls
      a(href='reset') reset
    div#chat.scroll-pane
      div.message.auto Welcome
    div#compose
      input(type='text', id="compose-text")
      input(type='submit', id="compose-submit")
    div#compose-others
      div Others typing shown below:
    
