div#main
  h1 Canned
  div#chat.scroll-pane
    div.message.auto Welcome
  div#compose-others
  div#compose(class='#{color}')
    input(type='text', id="compose-text")
    input(type='submit', id="compose-submit")

  
