body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

body, #main, #chat, #compose {
  max-width: 640px;
}

#main {
/*  margin: 0 auto;*/
}

#chat {
  height: 310px;
}

.message {
  padding: 5px 5px;
  margin: 3px 0;
}

.message.auto {
  font-style: italic;
}

#compose, #compose-others {
  padding: 5px;
}

#compose-text {
}

.red, .blue, .yellow, .black {
  padding: 5px 5px;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: #00a;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.black {
  background-color: black;
  color: yellow;
}

h1, #controls {
  margin: 0;
  padding: 0 5px;
}

h1 {
  font-weight: normal;
}

